# don't track node modules
node_modules/

# directory with the compiled TypeScript of the project
dist/

# "build/" directories contain the compiled Move package code; don't track on git
build/

# state files for the local network
sui_local_network/

# .env files might contain sensitive information
*.env

# ignore MacOS .DS_Store files
.DS_Store

# files created by
packages/scaf/genesis.yaml
packages/scaf/scripts/
packages/scaf/packages/
packages/scaf/test/
packages/scaf/scaf.config.js
packages/scaf/.env.example
